---
import About from '../components/About.astro';
import Dishes from '../components/Dishes.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <Hero />
        <!-- <div class="flex justify-center align-center bg-amber-500 h-20">
            <p>Aceptamos reservas</p>
        </div> -->
        <Dishes />
        <About />
    </main>
</Layout>

<style>
    body {
        background: rgb(54,67,80);
        background: linear-gradient(180deg, rgba(54,67,80,1) 0%, rgb(80, 80, 80) 50%, rgb(160, 160, 160) 100%);
    }
</style>