---
---

<div id="aboutus" class="flex flex-col bg-slate-700 px-20 py-10">
    <h2 class="font-signika text-start text-6xl text-slate-100 px-80">Nosotros</h2>
    <p class="font-rubik text-justify text-lg text-slate-300 pt-10 px-80">
        Bienvenidos a <b>PALADAR</b>, un rincón de Argentina en el corazón de España.
        <br>
        Nuestro restaurante nace con la pasión por compartir la rica y variada <b>gastronomía argentina</b>, ofreciendo a nuestros comensales una experiencia auténtica que celebra los sabores, aromas y tradiciones de nuestra tierra.
        <br><br>
        <em>Nos enorgullece</em> presentar una selección de <b>platos emblemáticos</b> que reflejan la esencia de la cocina argentina. Desde nuestras <b>famosas y jugosas carnes</b> hasta la más <b>fina pasta casera</b>, cada platillo es elaborado con ingredientes frescos y de calidad, siguiendo <b>recetas tradicionales</b> que han sido transmitidas de generación en generación.
        <br><br>
        <em>Nos comprometemos</em> a difundir la <b>cultura argentina</b>. Organizamos <b>eventos</b> especiales, como las <b>noches de tango</b> y las <b>catas de vino</b>, brindando la oportunidad de sumergirse en nuestra rica herencia mientras disfrutan de nuestros platos.
        <br><br>
        Contáctanos para <b>reservar una mesa</b> y/o para <b>enterarte de nuestros próximos eventos</b>. 
        <br><br>
        ¡Esperamos verte pronto!
    </p>
</div>

<style>
    .bg-about {
        padding: 12rem 6rem;
        background-image: url("/public/bg-aboutus.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>