---
import Navigation from './Navigation.astro';
---

<header class="bg-slate-800">
    <nav>
        <Navigation />
    </nav>
</header>

<style>    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 6rem;
        color: white;
    }
</style>