---
---

<div class="hero">
    <h1 class="font-signika text-center text-white text-9xl">PALADAR</h1>
    <p class="font-ubuntu text-center text-white text-2xl">Restaurante argentino. Sabor argentino.</p>
</div>

<style>
    .hero {
        padding: 12rem 6rem;
        background-image: url("bg-hero.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>