---
---

<div class="hero">
    <h1 class="font-signika text-center text-white text-9xl">PALADAR</h1>
    <p class="font-ubuntu text-center text-white text-2xl">Restaurante argentino. Sabor argentino.</p>
    <div class="flex justify-center">
        <button class="font-rubik text-lg text-slate-200 bg-slate-700 rounded-md py-2 px-4 mt-8 hover:bg-slate-600 hover:text-slate-200 transition duration-250">RESERVAR MESA</button>
    </div>
</div>

<style>
    .hero {
        padding: 12rem 6rem;
        background-image: url("/bg-hero.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>