---
import Logo from "./Logo.astro";
---

<div class="flex justify-center align-middle gap-10">
    <a class="" href="/">INICIO</a>
    <a href="#aboutus">NOSOTROS</a>
</div>
<Logo size={64} />
<div class="flex justify-center align-middle gap-10">
    <a href="#dishes">PLATOS</a>
    <a href="#contact">CONTACTO</a>
</div>

<style>
    a {
        list-style: none;
        font-family: 'Rubik', sans-serif;
        color: white;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(225, 225, 225);
    }
</style>