---
---

<div class="footer-rrss pt-10">
  <a href="https://www.facebook.com/">
    <img src="src/assets/svg/facebook.svg" alt="Ícono de Facebook" width="28">
  </a>
  <a href="https://www.instagram.com/">
    <img src="src/assets/svg/instagram.svg" alt="Ícono de Instagram" width="28">
  </a>
  <a href="https://www.x.com/">
    <img src="src/assets/svg/twitter-x.svg" alt="Ícono de X" width="28">
  </a>
  <a href="https://www.youtube.com/">
    <img src="src/assets/svg/youtube.svg" alt="Ícono de Youtube" width="28">
  </a>
</div>

<div class="font-rubik text-center py-6">
  <p>&copy; {new Date().getFullYear()} PALADAR. Todos los derechos reservados. Este sitio no recopila datos personales de los usuarios.</p>
</div>

<style>
  .footer-rrss {
    display: flex;
    justify-content: center;
    gap: 2rem;
    filter: invert(1);
  }
</style>